*{
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}
body{
  max-width: 1170px;
  background-color: beige;
  
}





}
.box2{
  background-color: aqua;
  height: 200px;
  max-width:140px;

}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: ;
}
table tr,td,th{
  border:1px solid red
  
}
table{
  border-collapse: collapse;
}
.this{
  background-color: aqua;
  max-width: 500px;
  margin:0 auto;
  
}
.card{
  width:300px;
  border:2px solid red;
  border-radius: 10px aqua;
  box-shadow:10px 10px 10px rgba(0, 255, 255, 0.315);
  

}
.card img{
width:100%;
}
.card-container{
  display: flex;
  margin: 0 auto;
justify-content:center;
  gap: 10px;
}